.edit-button {
    margin: 5px;
    color:  #181849;
    background-color:#DBD994;
    border-color: #181849;

  }

  .edit-button:hover {
    color: #DBD994;
    background-color:  #346C9D;
    border-color: #DBD994;

  }