button {
    margin: 5px;
  }

.submit-button {
    color:  #DBD994;
    background-color: #181849;
    border-color:  #DBD994;

  }

  .submit-button:hover {
    color: #346C9D;
    background-color:  #DBD994;
    border-color: #346C9D;

  }